.wrapper{
    background-color: black;
    width: 100%;
    height: 100vh;
}
#grid{
    width: 1000px;
    height: 100%;
    background-color: white;
}
.square-box{
    width: 100px;
    height: calc(100% / 10);
    background-color: red;
    padding: 10px;
}
.square{
    background-color: yellow;
    color: black;
    width: 100%;
    height: 100%;
}
.fizz-buzz{
    background-color: blue;
}
.fizz{
    background-color: pink;
}
.buzz{
    background-color: green;
}